.open-button {
  cursor: pointer;
  background-color: hsla(0, 0%, 0%, 0.85);
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  line-height: normal;
  position: absolute;
  left: 1.6rem;
  top: 90%;

  mix-blend-mode: normal;
  letter-spacing: 2.14px;
  padding: 1.4rem 1.6rem;
  transition: background-color 0.25s ease-in-out;

  &:hover {
    background-color: hsla(0, 0%, 100%, 0.25);
  }
  @media (max-width: 768px) {
    left: 0.6rem;
    bottom: normal;
    top: 0.6rem;
  }
}
.view-image {
  margin: 0;
  display: block;
  font-size: 1rem;
  width: 94px;
  height: 12px;
  margin-left: 1.4rem;
}
