@import "./variables";
@import "./typography";
:root {
  *,
  *:before,
  *:after {
    margin: 0;
  }
}

html {
  font-size: 62.5%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body {
  background-color: $color-white;
  font-size: 1.4rem;
  line-height: 28px;
  color: $color-darkgrey;
  font-family: "Libre Baskerville";
  font-weight: normal;
}
