@import "../../../styles/variables";

.toggle-btn {
  cursor: pointer;
  color: $color-darkgrey;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 2.57px;
  transition: color 0.2s ease-in-out;
  &:hover {
    color: black;
  }
  @media (max-width: 767px) {
    font-size: 0.9rem;
  }
  @media (max-width: 1400px) {
    margin-right: 2rem;
  }
}
