.vignette-container {
  display: flex;
  position: relative;
  width: 85.5rem;

  @media (max-width: 1439px) {
    margin-top: 4rem;
    width: 68.8rem;
  }
  @media (max-width: 768px) {
    width: auto;
    margin: 2rem 2rem;
  }
}
.vignette-hero {
  max-width: 475px;
  height: 560px;
  position: relative;
  @media (max-width: 768px) {
    width: 100%;
    height: auto;
  }
}
.description-card {
  height: 100%;
  background-color: white;
  height: min-content;
  box-sizing: border-box;
  padding-bottom: 6.7rem;
  position: absolute;
  left: 39rem;
  @media (max-width: 1439px) {
    left: 25rem;
  }
  @media (max-width: 768px) {
    left: 0;
    bottom: -13%;
    padding: 2rem 0 2rem 0;
  }
}
.vignette-description {
  width: 33rem;
  padding-left: 6.5rem;
  word-wrap: break-word;
  @media (max-width: 768px) {
    font-size: 2.4rem;

    width: 25rem;
    padding-left: 4.5rem;
  }
}
.title {
  color: black;
  margin-bottom: 2.4rem;
  @media (max-width: 768px) {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    line-height: 29px;
  }
}
.artist-hero {
  width: 128px;
  height: 128px;
  position: absolute;
  bottom: -10%;
  left: 500px;
  @media (max-width: 1439px) {
    bottom: 23%;
  }
  @media (max-width: 768px) {
    width: 68px;
    height: 68px;
    left: 10%;
    bottom: -35%;
  }
}
