@import "./styles/_global.scss";

.App {
  text-align: center;
}
.App-container {
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  display: flex;
  flex-flow: column;
  margin: 0 auto;

  box-sizing: border-box;
}
